*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* .navbar-brand h6 {
    float: right;
    padding-left: 10px;
    padding-top: 8px;
} */

.navbar-brand{
    padding-left: 10px;
}

.navbar-brand i{
    padding-right: 20px;
    color: white;
}

.icon{
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.sidenav {
    position: absolute;
    left: 0;
    height: 100%;
    width: 230px;
    z-index: 1;
    top: 66px;
    background-color: navy;
    overflow-x: hidden;
    
}

.sidenav ul a, .dropdown-btn{
    color: white;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    border: none;
    background: none;
    width: 100%;
    /*  */
    height: 100%;
    line-height: 45px;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid white;
    transition: .4s;
    /*  */
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav ul a i {
    margin-left: 0px;
    margin-right: 20px;
    /* box-sizing: border-box; */
}

.sidenav ul button i {
    
    margin-left: 0px;
    margin-right: 20px;
    box-sizing: border-box;
}
.sidenav a:hover, .dropdown-btn:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
    border: none;
    /*  */
    padding-left: 40px;
}

.dropdown-container{
    display: none;
    background-color: rgb(4, 4, 100);
}

.fa-caret-down{
    float: right;
    padding-right: 0px;
    padding-top: 10px;
}

.content {
    margin-left: 230px;
    padding-left: 20px;
}
.content h2{

    padding-top: 50px;
}
.content p{
    text-align: justify;
    padding-right: 20px;
}


.avatar{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*  */

.content .display-4{
    font-weight: bold;
}
.content .display-5{
    font-size: xx-large;
    font-weight: bold;
}
.content .card-body-icon{
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 100px;

}
